.center-image{
  
  display: flex;
  justify-content:center; /* horizontally center */
  align-items:center;
  padding-top: 3px;
  
}

h1{
  
  font-weight: bold;
  color: black;
  font-size: 34px;

}
.center{
  display: flex;
  justify-content:center; 
  align-items:center;
  padding: 2px;
}
.description{
  padding-top: 15px;
}
.Scrolle{

  padding-top: 15px;

}
